
.container {
  /*font-family: 'Roboto', sans-serif;*/
  /*color: #595959;*/
  /*display: block;*/
  margin: 0;
  padding: 0;
  width: 100%;
}

a {
  text-decoration: none;
}

.navbar {
  display: block;
  width: 100%;
  height:50px;
  margin: 10px 0;
  background-color: white;
  border: none;
  /*position: fixed;*/
}

.navbar img {
  display: inline-block;
  float: left;
  border: 0;
  vertical-align: middle;
}

.navbar .pun {
  vertical-align: middle;
  margin-left: 10px;
  padding-top: 8px;
  display: inline-block;
  font-size: 25px;
}

#logo {
  background-image: url(../img/logo.svg);
  background-repeat:no-repeat;
  background-size: 100% 100%;
  border: none;
  height: 50px;
  width: 100px;
  margin-left: 20px;
}

.navbar .menu {
  display: inline-block;
  float: right;
  margin-right: 20px;
  padding-top: 15px;
}

.navbar .menu > li {
  display: inline;
}

.navbar .menu > li > a {
  text-decoration: none;
  color: black;
  margin: 0 15px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
}

.content {
  background-color: #595097;
  width: 100%;
  color: white;
  height: 500px;
  padding: 40px 40px;
}

.navbar.subnav {
  background-color: #3C3565;
  display: block;
  color: white;
  /*padding-top: 30px;*/
  height: 100px;
  border-radius: 0;
  margin-bottom: 0;
}

.navbar.subnav .title {
  margin-left: 20px;
  display: inline-block;
  float: left;
  font-size: 36px;
  padding-top: 22px;
}

.navbar.subnav .timeline {
  margin-right: 20px;
  display: inline-block;
  float: right;
  font-size: 18px;
  padding-top: 35px;
}

#upload {
  cursor: pointer;
}

input[type=file] {
  display:none;
}

