{% extends "layout.html" %}

{% block content %}

<script src="{{ url_for('static', filename='d3.js') }}"></script>
<script src="{{ url_for('static', filename='crossfilter.js') }}"></script>
<script src="{{ url_for('static', filename='dc.js') }}"></script>

<!-- <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}"> -->
<link rel="stylesheet" href="{{ url_for('static', filename='dc.css') }}">

<div class="data-vis" id="donation_ts">
 
</div>
<script src="{{ url_for('static', filename='js/donation.js') }}"></script>

{% endblock content %}
