{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}

<div class='index'>
</div>
<script>
  var dict = {
    "funders": { "currency": false, "str": "Funders"},
    "ttl_funding": { "currency": true, "str": "Funding"},
    "programs": { "currency": false, "str": "Programs"},
    "evts": { "currency": false, "str": "Events"},
    "donors": { "currency": false, "str": "Donors"},
    "ttl_donation": { "currency": true, "str": "Donations"}
  }
  function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
  }

  $.getJSON("/summary_api", function(data) {
    var items = [];
    items.push("<div class='row'>");
    $.each(data.data, function(key, value) {
      var num = numberWithCommas(Math.ceil(value[0][0]));
      if (dict[key]["currency"]) {
        num = "$" + num;
      }
      var item = "<div class='summary col-sm-4'><div class='value'>"+num+"</div><div class='key'>"+dict[key]["str"]+"</div></div>";
      items.push(item);
    });
    items.push("</div>");
    $(".index").append(items);
  });
</script>
{% endblock content %}
