{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}

<div class='index'>
</div>
<script>
  var dict = {
    "funders": { "currency": false, "str": "Funder Count", "icon": "fa-building-o"},
    "ttl_funding": { "currency": true, "str": "Funding Received"},
    "programs": { "currency": false, "str": "Program Attendance", "icon": "fa-calendar"},
    "evts": { "currency": false, "str": "Event Attendance", "icon": "fa-bullhorn"},
    "donors": { "currency": false, "str": "Donor Count", "icon": "fa-users"},
    "ttl_donation": { "currency": true, "str": "Donations Received"}
  }
  function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
  }

  $.getJSON("/summary_api", function(data) {
    var items = [];
    items.push("<div class='row'>");
    $.each(data.data, function(key, value) {
      var num = numberWithCommas(Math.ceil(value[0][0]));
      if (dict[key]["currency"]) {
        num = "$" + num;
      }
      var item = "<div class='summary col-sm-4'><div class='value'>";
      if (dict[key]["icon"]) {
        item = item + "<i class='fa " + dict[key]["icon"] + "'></i>  ";
      } 
      item = item + num + "</div><div class='key'>" + dict[key]["str"] + "</div></div>";
      items.push(item);
    });
    items.push("</div>");
    $(".index").append(items);
  });
</script>
{% endblock content %}
