<!DOCTYPE html>
<html>

<head>
  <title>MRA4</title>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.jpg') }}"> -->
  <link rel="stylesheet" type="text/css" href="static/css/styling.css">
</head>

<body bgcolor="FCFCFE">
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <img id="logo"/>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="/programs">PROGRAMS</a></li>
            <li><a href="/events">EVENTS</a></li>
            <li><a href="/members">MEMBERS</a></li>
	    <li><a href="/donations">DONATIONS</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
  </nav>
  <div style="padding-left:25px">

    {% block content %}{% endblock %}

  </div>


</body>
<script type="text/javascript">// <![CDATA[
        function loading(){
            $("#loading").show();
            $("#content").hide();
        }
// ]]></script>


</html>
