{% extends "layout.html" %}

{% block content %}

<script src="{{ url_for('static', filename='d3.js') }}"></script>
<script src="{{ url_for('static', filename='crossfilter.js') }}"></script>
<script src="{{ url_for('static', filename='dc.js') }}"></script>

<!-- <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}"> -->
<link rel="stylesheet" href="{{ url_for('static', filename='dc.css') }}">

<div class="data-vis col-md-8" id="member_ts" style='margin:auto'>
  <h2>New Member Sign Ups</h2>
 
</div>
<div class="data-vis col-md-4" id="member_age" style='margin:auto'>
    <h2>Members by Age Group</h2>
   
  </div>
  
<div class="data-vis col-md-8" id="member_map" style='margin:auto'>
    <h2>Map</h2>
   
  </div>
  <div class="data-vis col-md-4" id="member_length" style='margin:auto'>
      <h2>Members by Membership Age</h2>
     
    </div>
    
<script src="{{ url_for('static', filename='js/member.js') }}"></script>
<script>$($(".menu li a")[3]).css("color", "#61BCB2");</script>
{% endblock content %}
