{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}

<script src="{{ url_for('static', filename='d3.js') }}"></script>
<script src="{{ url_for('static', filename='crossfilter.js') }}"></script>
<script src="{{ url_for('static', filename='dc.js') }}"></script>

<!-- <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}"> -->
<link rel="stylesheet" href="{{ url_for('static', filename='dc.css') }}">

<div class="data-vis col-sm-6 col-md-6" id="program_funding">
        <div class="graph-header">
            <h2>All Program Funding</h2> 
        </div>
    </div>
<div class="data-vis col-sm-6 col-md-6" id="program_attendance">
    <div class="graph-header">
        <h2>All Program Attendance</h2> 
    </div>
</div>
    

<div class="data-vis col-xs-5 col-md-9" style="margin-top: 100px" id="program_ts">
    <div class="graph-header">
        <h2>Program Funding and Attendance</h2> 
        <div class="graph-dropdown">{{ render_field(form.program, class_="form-control") }}</div>
    </div>
</div>
<div class="data-vis col-xs-5 col-md-3" style="margin-top: 100px" id="program_stats">
        <h2>Year to Date</h2> 
        <div class='summary-small'>
            <span class='value-small' id='attendance'></span> <br>
            <span class='key-small'>Attendance</span><br>
            <br><br>
            <span class='value-small' id='funding'></span> <br>
            <span class='key-small'>Funding</span><br>
        </div>
</div>

<script src="{{ url_for('static', filename='js/program.js') }}"></script>
<script>$($(".menu li a")[1]).css("color", "#61BCB2");</script>
{% endblock content %}
